body, html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Helvetica;
}

input {
    font-size: 1rem;
}

.tip-calculator{
    display: flex;
    flex-direction: row;
    align-content: center;
    border-style: solid;
    border-width: 0.5px;
}

.calculation {
    border-width: 0.5px;
    background-color: azure;

}

.bill {
    border-style: solid;
    border-width: 0.5px;
}

.bill p {
    color: rgb(36, 15, 15);
    border-width: 0.5px;
}

.bill-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-bill {
    border-style:solid;
    border-width: 0.5px;
    padding: 3px;
}

.people {
    border-style: solid;
    border-width: 0.5px;
}

.people-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.people p {
    color: rgb(36, 15, 15);
    border-width: 0.5px;
}

#input-people {
    border-style:solid;
    border-width: 0.5px;
    padding: 3px;
}

.tip {
    border-style: solid;
    border-width: 0.5px;
}

.tip p {
    color: rgb(36, 15, 15);
    border-width: 0.5px;
}

.tip-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-tip {
    border-style:solid;
    border-width: 0.5px;
    padding: 3px;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 19px;
    width: 300px;
    height: 279px;
    border-width: 0.5px;
    background-color: azure;
}

.results p {
    color: rgb(36, 15, 15);
    border-width: 0.5px;
}

.title-calc {
    display: flex;
    font-size: 1.5em;
}